html, body {
  margin-top: 0;
  transition: margin .5s;
}
.smartbanner-show {
  margin-top: 80px;
}
.smartbanner-show .smartbanner {
  top: 0;
  opacity: 1;
  transition: top .5s, opacity 0s 0s;
}

.smartbanner {
  position: absolute;
  z-index: 9998;
  left: 0;
  top: -80px;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  color: #333;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, .35);
  opacity: 0;
  transition: top .5s, opacity 0s .5s;
}

.smartbanner-container {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  color: #333;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #ddd;
}

.smartbanner-close {
  float: left;
  z-index: 2;
  top: 14px;
  margin-right: 0;
  padding: 0 8px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  opacity: .5;
  transition: opacity .3s ease;
}

.smartbanner-close:active,
.smartbanner-close:hover {
  opacity: 1;
}

.smartbanner-icon {
  display: inline-block;
  vertical-align: middle;
  width: 57px;
  height: 57px;
  margin-right: 12px;
  background-size: cover;
  border-radius: 10px;
}

.smartbanner-info {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  width: 44%;
  line-height: 14px;
  font-size: 12px;
  font-weight: normal;
  color: #777;
}

.smartbanner-title {
  line-height: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

.smartbanner-button {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  height: 28px;
  line-height: 28px;
  margin: auto 0;
  padding: 0px 12px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all .2s ease;
}

.smartbanner-button:active,
.smartbanner-button:hover {
  color: #000;
  background: #E0E0E0;
  border: 1px solid #BABABA;
}

.smartbanner-button-text {
}

.smartbanner-button-text:active,
.smartbanner-button-text:hover {
}